@model SM.LIB.VM.Account.SchoolProfileModel
@{
    bool val = Convert.ToBoolean(ViewBag.Complete);
    if (val)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutEmptyInfo.cshtml";
    }

}

<link rel="stylesheet" type="text/css" href="assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css" />

<div class="row wizard-row">
    <div class="col-md-12 fuelux">
        <div class="block-wizard panel panel-default">
            <div id="wizard1" class="wizard wizard-ux">
                <ul class="steps">
                    <li data-step="1" class="active">Basic<span class="chevron"></span></li>
                    <li data-step="2">Contact<span class="chevron"></span></li>
                    <li data-step="3">Address<span class="chevron"></span></li>
                    <li data-step="4">Academic<span class="chevron"></span></li>
                </ul>
                <div class="actions">
                    <button type="button" class="btn btn-xs btn-prev btn-default"><i class="icon mdi mdi-chevron-left"></i>Prev</button>
                    <button type="button" data-last="Finish" class="btn btn-xs btn-next btn-default">Next<i class="icon mdi mdi-chevron-right"></i></button>
                </div>
                @using (Html.BeginForm("SchoolProfileUpdate", "Account", FormMethod.Post, new { role = "form" }))
                {
                    <div class="step-content">
                        <div data-step="1" class="step-pane active">
                            <div data-parsley-namespace="data-parsley-" data-parsley-validate="" novalidate="" class="form-horizontal group-border-dashed">
                                <div class="form-group no-padding">
                                    <div class="col-sm-7">
                                        <h3 class="wizard-title">Basic Info</h3>
                                    </div>
                                </div>
                                <div>
                                    @Html.HiddenFor(m => m.EmailId)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SchoolName, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.SchoolName, new { @class = "form-control", placeholder = "School Name" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SchoolFType, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-6">
                                        @Html.EnumDropDownListFor(m => m.SchoolFType, "Select Type", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SchoolGType, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-6">
                                        @Html.EnumDropDownListFor(m => m.SchoolGType, "Select Type", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.TotalStudents, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.SchoolName, new { @class = "form-control", placeholder = "In Number" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button class="btn btn-default btn-space">Cancel</button>
                                        <button data-wizard="#wizard1" class="btn btn-primary btn-space wizard-next">Next Step</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-step="2" class="step-pane active">
                            <div data-parsley-namespace="data-parsley-" data-parsley-validate="" novalidate="" class="form-horizontal group-border-dashed">
                                <div class="form-group no-padding">
                                    <div class="col-sm-7">
                                        <h3 class="wizard-title">Contact Info</h3>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SchoolPhoneNumber, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.SchoolPhoneNumber, new { @class = "form-control", placeholder = "In Number" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EmailId, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", placeholder = "somting@som.com" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CPName, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.CPName, new { @class = "form-control", placeholder = "Name" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CPPhone, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.CPPhone, new { @class = "form-control", placeholder = "Mobile Number" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button class="btn btn-default btn-space">Cancel</button>
                                        <button data-wizard="#wizard1" class="btn btn-primary btn-space wizard-next">Next Step</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-step="3" class="step-pane active">
                            <div data-parsley-namespace="data-parsley-" data-parsley-validate="" novalidate="" class="form-horizontal group-border-dashed">
                                <div class="form-group no-padding">
                                    <div class="col-sm-7">
                                        <h3 class="wizard-title">Address</h3>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SAddress.AddL1, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.SAddress.AddL1, new { @class = "form-control", placeholder = "Address In details" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SAddress.AddL2, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.SAddress.AddL2, new { @class = "form-control", placeholder = "Address In details" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SAddress.Pin, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.SAddress.Pin, new { @class = "form-control", placeholder = "6 Digit Number" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SAddress.City, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-6">
                                        @Html.EnumDropDownListFor(m => m.SAddress.City, "Select City", new { @class = "form-control", placeholder = "City Name" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SAddress.state, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-6">
                                        @Html.EnumDropDownListFor(m => m.SAddress.state, "Select State", new { @class = "form-control", placeholder = "State Name" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button class="btn btn-default btn-space">Cancel</button>
                                        <button data-wizard="#wizard1" class="btn btn-primary btn-space wizard-next">Next Step</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-step="4" class="step-pane active">
                            <div data-parsley-namespace="data-parsley-" data-parsley-validate="" novalidate="" class="form-horizontal group-border-dashed">
                                <div class="form-group no-padding">
                                    <div class="col-sm-7">
                                        <h3 class="wizard-title">Academic Info</h3>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Board, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-6">
                                        @Html.EnumDropDownListFor(m => m.Board, "Select Board", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.AnnulDateOfExam, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-3 col-xs-7">
                                        <div data-date="1979-09-16T05:25:07Z" data-date-format="yyyy-mm-dd - HH:ii" data-link-field="dtp_input1" class="input-group date datetimepicker">
                                            @Html.TextBoxFor(m => m.AnnulDateOfExam, new { @class = "form-control", size = "16", placeholder = "Date", @readonly = "readonly" })
                                            <span class="input-group-addon btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></span>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Medium, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-3 col-xs-7">
                                        @Html.EnumDropDownListFor(m => m.Medium, "Select Medium", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EstablishedDate, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-3 col-xs-7">
                                        <div data-date="1979-09-16T05:25:07Z" data-date-format="yyyy-mm-dd - HH:ii" data-link-field="dtp_input1" class="input-group date datetimepicker">
                                            @Html.TextBoxFor(m => m.EstablishedDate, new { @class = "form-control", size = "16", placeholder = "Date", @readonly = "readonly" })
                                            <span class="input-group-addon btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></span>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Read Only</label>
                                    <div class="col-md-3 col-xs-7">
                                        <div data-date="1979-09-16T05:25:07Z" data-date-format="yyyy-mm-dd - HH:ii" data-link-field="dtp_input1" class="input-group date datetimepicker">
                                            <input size="16" type="text" value="" readonly="" class="form-control"><span class="input-group-addon btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <input type="submit" style="margin-left:25%" data-wizard="#wizard1" class="btn btn-success btn-xl" value="Complete">
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div data-step="5" class="step-pane">
                                <div data-parsley-namespace="data-parsley-" data-parsley-validate="" novalidate="" class="form-horizontal group-border-dashed">
                                    <div class="form-group no-padding">
                                        <div class="col-sm-7">
                                            <h3 class="wizard-title">Select Class and Section</h3>
                                        </div>
                                    </div>
                                    @Html.Partial("_AddClassPartial")
                                    <br />
                                    <hr />
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button data-wizard="#wizard1" class="btn btn-primary btn-space wizard-next">Next Step</button>
                                            <input type="submit" style="margin-left:25%" data-wizard="#wizard1" class="btn btn-success btn-xl" value="Complete">
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src="assets/lib/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="assets/lib/jquery.nestable/jquery.nestable.js" type="text/javascript"></script>
<script src="assets/lib/moment.js/min/moment.min.js" type="text/javascript"></script>
<script src="assets/lib/datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>